#!/bin/sh

if [ ! -f "$HOME/.config/chezmoi/key.txt" ]; then
    read -p "Do you have private key for decrypting encrypted dotfiles? [y/N] " privateKeyExist
    if [ $privateKeyExist == "y" ] || [ $privateKeyExist == "Y" ]; then
        read -p "Enter private key location: " privateKeyLocation
        if [ ! -f "$privateKeyLocation" ]; then
            echo "Private key does not exist. Manual intervention needed. Exiting..."
            exit 1
        fi
        
        mkdir -p "$HOME/.config/chezmoi"
        chezmoi age decrypt --output "$HOME/.config/chezmoi/key.txt" --passphrase $privateKeyLocation
        chmod 600 "$HOME/.config/chezmoi/key.txt"
        
        read -p "Key successfully decrypted. Remove private key? [y/N] " removePrivateKey
        
        if [ $removePrivateKey == "y" ] || [ $removePrivateKey == "Y" ]; then
            rm $privateKeyLocation
            echo "Private key removed."
            exit 0
        fi
    else
        files=$(find $HOME/.local/share/chezmoi -name 'encrypted_*' -type f)
        if [ -n "$files" ]; then
            echo "Removing template and encrypted dotfiles..."
            echo "$files" | xargs rm
            rm $HOME/.local/share/chezmoi/.chezmoi.toml.tmpl
            echo "Encrypted dotfiles and template removed."
            echo "Removing existed chezmoi config and terminating chezmoi..."
            rm $HOME/.config/chezmoi/*
            echo "Run 'chezmoi init --apply' after chezmoi terminated."
            killall chezmoi
            exit 0
        else
            echo "Applying non-encrypted dotfiles..."
            exit 0
        fi
    fi
fi
